.selectGray {
  margin-right: 28px;
  display: flex;
  align-self: center;
  width: auto;
  height: 37px;
  color: #757575;
  background-color: transparent;
  font-size: 14px;
  padding: 10px 14px 9px;
  border: none;
  border-left: 1px solid #dadada !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../assets/arrowsel.png);
  background-repeat: no-repeat;
  background-size: 6px;
  background-position: right 1px top 54%;
}
.selectGray:focus,
.selectGray:hover {
  outline: none;
  border: none;
}
.selectOrange {
  display: flex;
  align-self: center;
  width: 93%;
  height: 37px;
  color: #9c9c9c;
  background-color: transparent;
  font-size: 14px;
  padding: 10px 14px 9px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../assets/arrowOrange.png);
  background-repeat: no-repeat;
  background-size: 6px;
  background-position: right 1px top 54%;
}
.selectOrange:focus,
.selectOrange:hover {
  outline: none;
  border: none;
}
